<!DOCTYPE html>
<html lang="en">
{% extends 'fourth_task/menu.html' %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

{% block content %}

<h2>Список постов</h2>

<form method="get" action="{% url 'post_list' %}">
    <label for="per_page">Количество постов на странице:</label>
    <select name="per_page" onchange="this.form.submit()">
        <option value="1" {% if per_page == '1' %}selected{% endif %}>1</option>
        <option value="3" {% if per_page == '3' %}selected{% endif %}>3</option>
        <option value="5" {% if per_page == '5' %}selected{% endif %}>5</option>
        <option value="7" {% if per_page == '7' %}selected{% endif %}>7</option>
    </select>
</form>

<ul>
    {% for post in page_posts %}
        <li>
            <strong>{{ post.title }}</strong> ({{ post.created_at }})
            <p>{{ post.content }}</p>
        </li>
    {% empty %}
        <p>Нет постов.</p>
    {% endfor %}
</ul>

<div class="pagination">
    {% if page_posts.has_previous %}
        <a href="?page=1&per_page={{ per_page }}">Начало</a>
        <a href="?page={{ page_posts.previous_page_number }}&per_page={{ per_page }}">Назад</a>
    {% endif %}

    <span>Страница {{ page_posts.number }} из {{ page_posts.paginator.num_pages }}</span>

    {% if page_posts.has_next %}
        <a href="?page={{ page_posts.next_page_number }}&per_page={{ per_page }}">Вперед</a>
        <a href="?page={{ page_posts.paginator.num_pages }}&per_page={{ per_page }}">Конец</a>
    {% endif %}
</div>
{% endblock %}
